{
	"api_port": 9500,
	"browser_port": 8000,
	"api_key": "changethis",
	"browser_path": "/home/webapps/eventsd_dashboard/browser",
	"browser_user": "admin",
	"browser_pass": "password",
	"db_file": "database.sqlite"
}