{
	"port": 8000,
	"client_id": "google_client_id",
	"client_secret": "google_client_secret",
	"client_redirect": "google_client_redirect",
	"browser_path": "/home/webapps/eventsd_dashboard/application/public",
	"db_file": "database.sqlite"
}