.idea/*
vagrant/overrides.json
vagrant/.vagrant
vagrant/cache/*
*.swp
.*.swp
node_modules
.htaccess
.htpasswd
npm-debug.log
application/app_config.json
application/public/assets/js/angular/config.js
application/database.sqlite
